.user-icon-wrapper { 
  font-size: xx-large;
  position: relative;  
  top: -25px;
  padding-left: 30px;
}
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  height: 75%;
  padding-left: 30px;
}


.email,
.name { 
  display: flex;
  justify-content: space-between;
  width: 90%;
  cursor: pointer;
  font-weight: bold;
}


.logout { 
  width: 90%;
  margin-top: 10px;
}

