.profile-page {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%; /* adjust as needed */
    background: white;
    border-left: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 1;
  }
  
  .profile-page.open {
    transform: translateX(0);
  }
  
  .profile-page > header {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .profile-page section {
    margin-bottom: 20px;
  }
  
  .profile-page h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

