.list-container { 
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow:scroll;
    overflow-x: hidden;
    height: 80%;
    background-color: #FFF7EC;
}

.list-item { 
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}


html, body {margin: 0; height: inherit; overflow:scroll}
