.list-container { 
    display: flex;
    flex-direction: column;
    padding: 10px;

    background-color: #FFF7EC;
}

.list-item { 
    border                                 : solid 1px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

.list-header { 
    margin-top: 30px;
}

