.marker-content-wrapper { 
    padding: 0px;
    display: flex;
    cursor: pointer;
}

.marker-content-image-wrapper { 
    width:  100px; 
    height: 100px; 
}

.marker-content-image { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.marker-content-description { 
    width: 100%;
    height: 100%;
}

.star-rating { 
    display: flex;
}