.footer {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
    width: inherit;
    bottom: 0;
    height: 10%;
    position: absolute;
  }
  
  .footer-button {
    text-decoration: none;
    color: #000;
    text-align: center;
  }
  
  .footer-button span {
    display: block;
  }
  