.header { 
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #FFE8C9;
    border-radius: 5px;
    font-family:sans-serif;
    width: 100%;
}

.button {
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 25px;
} 

.text-header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

}

.account-page-open { 
    height: 100vh;
}